.footer{
    background-color: rgb(2, 3, 10);//#14181D;
    color: white;
    padding: 1.3rem 1.3rem 1.3rem;
    font-weight: 1.1;                
    @media screen and (max-width:$mobile - 1px){
        padding: 0.7rem 0.7rem 0.7rem;
    }
    .container{
        display:flex;
        @media screen and (max-width:$mobile - 1px){
            display: block;
        }
        .is-left{
            margin: auto 0;
            @media screen and (min-width: $widescreen) and (max-width:$fullhd - 1px){
                font-size: 0.94rem;
            }
            @media screen and (min-width: $desktop) and (max-width:$widescreen - 1px){
                font-size: 0.875rem;
            }
            @media screen and (min-width: $tablet) and (max-width:$desktop - 1px){
                font-size: 0.7rem;
            }
            @media screen and (min-width: $mobile) and (max-width:$tablet - 1px){
                font-size:0.6rem;
            }
            @media screen and (max-width:$mobile - 1px){
                font-size: 0.55rem;                
                text-align:center; 
                line-height:1.3rem;
            }
        }

        .is-right{
            margin: auto 0 auto auto;
            a{
                text-decoration: none;
                color:white;
            }
            a:hover{
                color: #d4ac69;
            }
            @media screen and (min-width: $widescreen) and (max-width:$fullhd - 1px){
                font-size: 0.94rem;
            }
            @media screen and (min-width: $desktop) and (max-width:$widescreen - 1px){
                font-size: 0.875rem;
            }
            @media screen and (min-width: $tablet) and (max-width:$desktop - 1px){
                font-size: 0.7rem;
            }
            @media screen and (min-width: $mobile) and (max-width:$tablet - 1px){
                font-size:0.6rem;
            }
            @media screen and (max-width:$mobile - 1px){
                font-size: 0.55rem;
                text-align:center;
            }
        }
    }
}