@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap&subset=latin-ext');

$main-color: #EF790F;
$main_black: #030303;
$main-font: 'Montserrat', sans-serif;
$main_color_hover: #c16c20;


$fullhd: 1480px;
$widescreen: 1216px;
$desktop: 1024px;
$tablet: 769px;
$mobile: 480px;
